home/user/.config/balenaEtcher
home/user/.config/browsh
home/user/.config/Code
home/user/.config/create-next-app-nodejs
home/user/.config/dconf
home/user/.config/geany/session.conf
home/user/.config/GIMP
home/user/.config/glib-2.0
home/user/.config/glow
home/user/.config/go
home/user/.config/google-chrome/*
home/user/.config/ibus
home/user/.config/inkscape
home/user/.config/kde.org
home/user/.config/lazygit
home/user/.config/menus
home/user/.config/modorganizer2
home/user/.config/nextjs-nodejs
home/user/.config/pulse
home/user/.config/qBittorrent
home/user/.config/steamtinkerlaunch
home/user/.config/Thunar
home/user/.config/xfce4
home/user/.config/yay
# home/user/.config/
