home/user/.config/Code
home/user/.config/geany/session.conf
home/user/.config/dconf
home/user/.config/steamtinkerlaunch
home/user/.config/create-next-app-nodejs
home/user/.config/dconf
home/user/.config/glib-2.0
home/user/.config/google-chrome
home/user/.config/ibus
home/user/.config/modorganizer2
home/user/.config/nextjs-nodejs
home/user/.config/yay

